@import '~bulma/css/bulma.min.css';
@import '~bulma-slider/dist/css/bulma-slider.min.css';
html {
    background: #eee;
}
.container {
    padding: 50px;
    background: #fff;
}
.range {
    width: 100%;
}

.settings .form {
    width: 500px;
}